<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mangan Lae Apps</title>
</head>
<body>
    <header>
    <a href="#content" class="skip-link">Skip to content ?</a>
    <!-- Mobile Navbar -->
    <div class="menuapps">
        <div class="iconmenu" id="menu"><a href="#">&#9776;</a></div>
        <div class="logoapps">Mangan Lae Apps</div>
        <div class="logoapps">&nbsp;</div>
    </div>
    <nav id="drawer" class="navapps">
        <ul class="navlistapps">
            <li class="navitemsapps"><a href="/">Home</a></li>
            <li class="navitemsapps"><a href="#">Favorite</a></li>
            <li class="navitemsapps"><a target="_blank" href="https://www.instagram.com/wilfridpurba_/">About Us</a></li>
        </ul>-
    </nav>
    <!-- Dekstop Navbar -->
    <nav class="nav">
        <a class="logo" href="">Mangan Lae Apps</a>
        <ul class="navlist">
            <li class="navitems"><a href="">Home</a></li>
            <li class="navitems"><a href="#">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="https://www.instagram.com/wilfridpurba_/">About Us</a></li>
        </ul>
    </nav>
    <!-- Jumbotron -->
    <div class="hero" style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero.jpg');">
        <div class="heroinner">
            <h1 class="herotitle">Mangan Lae Apps</h1>
            <p class="herosubtitle">Let's find the best restaurant only in Mangan Lae Apps</p>
        </div>
    </div>
</header>
    <!-- Content -->
    <main id="content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <footer>
        <p>Copyright © 2023 - Mangan Lae Apps</p>
    </footer>
</body>
</html>